<html>
        <link rel="stylesheet" type="text/css" href="stili.css">
    <head>
        <title>Bacheca</title>
        <html>
                <link rel="stylesheet" type="text/css" href="stili.css">
            <head>
                <title>Bacheca</title>
                <body>
                    <ul>
                        <li><a href="/login">Home</a></li>
                        <li><a class="active">Homepage Azienda</a></li>
                        <li style="float:right"><a href="/about">About</a></li>
                    </ul>
        
        <section>
          <nav>
            <ul>
              <li><a href="bacheca.html">Bacheca Annunci</a></li>
              <li><a href="offertaLavoro.html">Sezione Offerte Lavoro</a></li>
              <li><a button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"></button>Nuovo Annuncio/Promozione</a></li>
            </ul>
        
            <div id="id01" class="modal">
                    <span onclick="document.getElementById('id01').style.display='none1'" class="close" title="Close Modal">&times;</span>
                    <form class="modal-content" action="/azienda/promozione"  method="POST">
                      <div class="container">
                        <h2 style="text-align: center">Salve <%=utente%>,<br> compili il form per una nuova promozione</h2>
                        
                        <form>
                                <table id="oggetto" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                </tr>
                                <tr>
                                <td>Email:</td>
                                <td><input type="text" size="31" name="email" maxlength="30"></td>
                                </tr>
                                <tr>
                                <tr> 
                                <td> Oggetto </td>
                                <td> <select name="tipoServizio"> 
                                <option value"Selezione">Selezione</option>
                                <option value="offerte"> Offerte </option>
                                <option value="promozioni">Promozioni</option>
                                <option value="servizi">Servizi</option>
                                <option value="prodotti">Prodotti</option>
                                <option value="supporto">Supporto</option>
                                <option value="assistenza">Assistenza</option>
                                </select> </td>
                                </tr>
                                <td>Messaggio:</td>
                                <td><textarea rows="7" cols="24" name="messaggio"></textarea></td>
                                </tr>
                                <tr>
                                <td></td>
                                <td> <input type="reset" value="Reset">
                                </td>
                                </tr>
                                </table>
                                </form>

                        
                        <div class="clearfix">
                          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                          <button type="submit" onclick="pubblicaAnnuncio()" class="forgotbtn">Pubblica</button>
                        </div>
                      </div>
                    </form>
                  </div>
        
          </nav>
          
          <article>
            <h1>London</h1>
            <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
            <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
            <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
            <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p><p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
            <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p><p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
            <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
            <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
            <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
            <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
            <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p><p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
            <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p><p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
            <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
        </article>
        </section>

                </body>
            </head>
        </html>