<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="stili.css">
<head><title>Bacheca</title></head>
<body>

<ul>
  <li><a class="active">Bacheca Annunci</a></li>
  <li *ngIf="isCittadino"><a href="cittadino.html">Home Cittadino</a></li>
  <li *ngIf="isAzienda"><a href="azienda.html">Home Azienda</a></li>
  <li *ngIf="isUfficioSindacale"><a href="ufficioSindacale.html">Home Ufficio Sindacale</a></li>
</ul>

<div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card">
              <div class="card-header card-header-info">
                  <h4 class="card-title">Offerte di Lavoro<a href="listaOfferteLavoro.html">Vedi tutte le offerte di lavoro</a></h4>
              </div>
                <div class="card-body "> <!--table-responsive / scroll-->
                  <table class="table table-hover">
                      <thead class="text-info">
                          <th>Nome Azienda</th>
                          <th>Lavoratore Ricercato</th>
                          <th>Periodo</th>
                          <th>Messaggio</th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let model of mostDownloadedModels?.results">
                              <td *ngIf="isAdmin">{{model.model_id}}</td>
                              <td style="max-width:250px; white-space:nowrap;overflow-x: scroll;" >{{model.name}}</td>                                                                     
                              <td >{{model.number_of_downloads}}</td>
                              <td>
                                    <a class="nav-link" [routerLink]="['modelDetails/', model.model_id]" routerLinkActive="active" matTooltip="Details">
                                      <mat-icon>forward</mat-icon>
                                </a>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card" >
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Annunci Promozioni <a href="listaPromozioni.html">Vedi tutte le Promozioni</a></h4>
                </div>
                <div class="card-body "> <!-- table-responsive / scroll -->
                    <table class="table table-hover">
                        <thead class="text-danger">
                            <th>Nome Azienda</th>
                            <th>Nome Promozione</th>
                            <th>Messaggio Azienda</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let model of latestModels?.results">
                                <!-- Aggiunta style per permettere lo scroll, per riportare tutto allo stato originale eliminare lo style -->
                                <td *ngIf="isAdmin" style="max-width:100px;">{{model.model_id}}</td> 
                                <td style="max-width:170px; white-space:nowrap;overflow-x: scroll" >{{model.name}}</td>
                                <td style="max-width: 100px;" >{{model.upload_date}}</td> <!-- con max-width la data va su due righe senza rimane su una ma tutto più compatto-->
                                  </a>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card">
              <div class="card-header card-header-info">
                  <h4 class="card-title">Eventi<a href="listaEventi.html">Vedi tutti gli eventi</a></h4>
              </div>
                <div class="card-body "> <!--table-responsive / scroll-->
                  <table class="table table-hover">
                      <thead class="text-info">
                          <th>Nome Evento</th>
                          <th>Numero Partecipanti</th>
                          <th>Dettagli</th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let model of mostDownloadedModels?.results">
                              <td *ngIf="isAdmin">{{model.model_id}}</td>
                              <td style="max-width:250px; white-space:nowrap;overflow-x: scroll;" >{{model.name}}</td>                                                                     
                              <td >{{model.number_of_downloads}}</td>
                              <td>
                                    <a class="nav-link" [routerLink]="['modelDetails/', model.model_id]" routerLinkActive="active" matTooltip="Details">
                                      <mat-icon>forward</mat-icon>
                                </a>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </div>
</div>

</body>
</html>
