<html>
        <link rel="stylesheet" type="text/css" href="stili.css">
    <head>
        <title>Bacheca</title>
        <body>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a class="active">Homepage Cittadino</a></li>
                <li style="float:right"><a href="about.html">About</a></li>
                <li style="float:right"><a href="login.html">Entra nella tua area riservata</a></li>
            </ul>

<section>
  <nav>
    <ul>
      <li><a href="bacheca.html">Bacheca Annunci</a></li>
      <li><a button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"></button>Nuova Segnalazione</a></li>
      <li><a button onclick="document.getElementById('id1').style.display='block'" style="width:auto;"></button>Crea un nuovo Evento</a></li>
    </ul>

    <!-- segnalazione -->

    <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none1'" class="close" title="Close Modal">&times;</span>
            <form class="modal-content" action="/action_page.php">
              <div class="container">
                <h2 style="text-align: center">Salve, <br> scelga le opzioni per compilare la nuova segnalazione</h2>
          
                <div>
                  <label for="Segnalazione"><b>Di che segnalazione si tratta?<b></label>
                  <select name="tipoSegnalazione">
                    <option value="--Select--">--Select--</option>
                    <option value="Incidente">Incidente</option>
                    <option value="Lavori">Lavori in corso</option>
                    <option value="">Opzione 3</option>
                    <option value="">Opzione 4</option>
                  </select>
                </div>
                <div>
                    <label for="presenza"><b>Era gi&agrave presente?<b></label>
                    <select name="durata">
                        <option value="--Select--">--Select--</option>
                        <option value="adesso">&egrave accaduto ora</option>
                        <option value="prima">era gi&agrave accaduto quando l'ho visto</option>
                    </select>
                </div>
                <div>
                    <label for="provvedimenti"><b>Sono gi&agrave arrivati i soccorsi?<b></label>
                    <select name="durata">
                        <option value="--Select--">--Select--</option>
                        <option value="no">si</option>
                        <option value="si">no</option>
                    </select>
                </div>
                <div>
                    <label for="provvedimenti" ><b>Da quanto tempo sono arrivati i soccorsi?<b></label>
                    <select name="soccorsi">
                        <option value="--Select--">--Select--</option>
                        <option value="tempo1">adesso</option>
                        <option value="tempo2">non lo so</option>
                        <option value="tempo3"> 5 minuti &lt</option>
                        <option value="tempo4"> 5 minuti &lt &gt 10 minuti</option>
                        <option value="tempo5"> &lt 30 minuti</option>
                        <option value="tempo6"> 45 minuti &lt &gt 30 minuti</option>
                        <option value="tempo7"> &gt 1 ora</option>
                    </select>
                </div>

                <div class="clearfix">
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                  <button type="submit" class="forgotbtn">Pubblica</button>
                </div>
              </div>
            </form>
          </div>
          <!-- crea evento -->


          <div id="id1" class="modal">
            <span onclick="document.getElementById('id1').style.display='none1'" class="close" title="Close Modal">&times;</span>
            <form class="modal-content" action="/action_page.php">
              <div class="container">
                <h2 style="text-align: center">Salve, <br> compili i campi per creare un nuovo evento</h2>
          
                <form>
                  <table id="oggetto" border="0" cellspacing="2" cellpadding="2">
                  <tr>
                  <td>Nome organizzatore evento:</td>
                  <td><input type="text" size="31" name="nome" maxlength="30"></td>
                  </tr>
                  <tr>
                  <td>Email:</td>
                  <td><input type="text" size="31" name="email" maxlength="30"></td>
                  </tr>
                  <tr>
                  <tr> 
                  <td> Nome evento </td>
                  <td><input type="text" size="31" name="email" maxlength="30"></td>
                  </tr>
                  <table id="oggetto" border="0" cellspacing="2" cellpadding="2">
                    <tr>
                      <label>In che giorno vorresti organizzare il tuo evento?
                        <input type="date" name="mydatetime">
                      </label>
                      <input type="reset"  value="Resetta il form">
                    </tr>
                    <tr>
                      <label>Orario inizio evento
                        <input type="time" name="mydatetime">
                      </label>
                      <input type="reset"  value="Resetta la form">
                      <label>Orario fine evento
                        <input type="time" name="mydatetime">
                      </label>
                      <input type="reset"  value="Resetta la form">
                    </tr>
                  <td>Dettagli Evento:</td>
                  <td><textarea rows="7" cols="24" name="messaggio"></textarea></td>
                  </tr>
                  <tr>
                  <td></td>
                  <td> <input type="reset" value="Reset">
                  </td>
                  </tr>

                  <form action="upload.asp" method="post" enctype="multipart/form-data">
                    Locandina Evento: <input type="text" name="testo1">
                    <input type="file" accept=".jpeg" name="file1">
                    <input type="reset" value="clear">
                  </table>
                  </form>

                <div class="clearfix">
                  <button type="button" onclick="document.getElementById('id1').style.display='none'" class="cancelbtn">Cancel</button>
                  <button type="submit" class="forgotbtn">Pubblica</button>
                </div>
              </div>
            </form>
          </div>


  </nav>
  
  <article>
    <div class="container">
      <div class="title" style="text-align: center">
        <h1>Benvenuti nella Bacheca Comunale</h1>
        <div class="main-content">
            <div class="container-fluid">
              <div class="card mb-3">
                <div class="card-body">
                 <div class="card">
                 <div class="card-body table-responsive">
                     <table class="table table-hover">
                         <tbody>
                           <!-- comunicazioni del sindaco -->
                            <tr *ngFor="let segnalazioni?.results">
                                <td>
                                    <h5>{{comunicazione?.tipoSegnalazione}}</h5>
                                    <p>Segnalazione di<b>{{segnalazione?.nome_cittadino}}</b><b>{{segnalazione?.presenza}}</b><b>{{segnalazione?.provvedimenti.durata}}</b><b>{{segnalazione?.provvedimenti.soccorsi}}</b></p>
                                </td>
                                </tr>
                           <!-- segnalazioni cittadini -->
                             <tr *ngFor="let segnalazioni?.results">
                             <td>
                                 <h5>{{segnalazione?.tipoSegnalazione}}</h5>
                                 <p>Segnalazione di<b>{{segnalazione?.nome_cittadino}}</b><b>{{segnalazione?.presenza}}</b><b>{{segnalazione?.provvedimenti.durata}}</b><b>{{segnalazione?.provvedimenti.soccorsi}}</b></p>
                             </td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</article>
</section>







<script>

        // Get the modal
        var modal = document.getElementById('id01');
        var modal2 = document.getElementById('id1');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        window.onclick = function(event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
        }
        </script>
        </body>
    </head>
</html>