<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="stili.css">
<head>
    <title>Benvenuto nella Bacheca Comunale</title>
</head>
<body>


    
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#news">Se Possibile metterci le notizie del sindaco</a></li>
      <li style="float:right"><a href="/about">About</a></li>
      <li style="float:right"><a href="/login">Entra nella tua area riservata</a></li>
    </ul>   
    
    <div class="container">
      <div class="title" style="text-align: center">
        <h1>Benvenuti nella Bacheca Comunale</h1> <img src="homepageBackground.jpeg">
      </div>
    </div>

    <!-- <script type="text/javascript" src="https://nibirumail.com/docs/scripts/nibirumail.cookie.min.js"></script> -->
    <script type="text/javascript">var cookie_policy_url = 'http://nibirumail.com/cookies/';</script>
<script type="text/javascript" src="https://nibirumail.com/docs/scripts/nibirumail.cookie.min.js"></script>

</body>
</html>